@import url("code.css");

#customize-config {
  #generate-config {
    width: 200px;
    &.affix-top {
      right: 0;
    }
    &.affix {
      right: 20px;
    }
  }
}

.section-block {
  ul {
    list-style: none;
    padding: 0;
    .section-check {
      margin-right: 10px;
    }
    .code-block {
      margin-top: 10px;
    }
  }
}
