.item.item-blue.col-md-4.col-sm-6.col-xs-6
  .item-inner
    .icon-holder
      %i.icon.fa.fa-search
    %h3.title Customizable
    %p.intro Customize each aspect of configuration
    %a.link{:href => "start.html"}
      %span

